Django
dj-database-url
django-filter
Pillow
django-cors-headers
django-environ
djangorestframework
djangorestframework-simplejwt
drf-spectacular
drf-yasg
gunicorn
mailjet-rest
psycopg2-binary
pyotp
whitenoise
django-extensions
django_on_heroku
python-dotenv
python-decouple
django-storages
boto3
pandas
